body{
	background-color:white;	
	margin: 50px;
	line-height: 100px;
	color:black;

::-moz-selection { background: yellow; }
::selection { background: yellow; }
}



.cherry{
	font-size: 80px;
	font-family:Helvetica;
	text-align: wrap;
	position: relative;
	left: 40px
	top: 30px;

}

.dalloway {
	font-size: 80px;
	font-family: 'Old Standard TT', serif;
	text-align: wrap;
	position: relative;
	left: 40px
	top: 30px;

}
.brave {
	font-size: 80px;
	font-family:Rockwell;
	text-align: wrap;
	position: relative;
	left: 40px
	top: 30px;

}
.enigma {
	font-size: 80px;
	font-family: 'Cormorant Garamond', serif;
	text-align: wrap;
	position: relative;
	left: 40px
	top: 400px;


}

.outsider {
	font-size: 80px;
	font-family:Gill Sans;
	text-align: wrap;
	position: relative;
	left: 40px
	top: 30px;

}