body{
	background-color:black;	
	margin: 50px;
}

::-moz-selection { background: #FEDE6E; }
::selection { background: #FEDE6E; }

div {
	font-size: 65px;
	color:white;
}

p{
	color:white;
}
a{
	text-decoration: none;
	color:white;

}

a:visited{
	color:inherit;


}
.cherry{
	color:white;
	position: relative;
	text-align: wrap;
	left: 303px;
	top: 30px;
	font-family: Helvetica;
	
}

.cherry-end{
	color:white;
	font-family: Helvetica;
	border: 400px;
	border-color: yellow;
	padding:100px;
	text-align: wrap;
	position: relative;
	left: 40px
	top: 30px;
}

.dalloway{
	color:white;
	font-family: 'Old Standard TT', serif;
	font-size: 100px;
	text-align: wrap;
	position: relative;
	left: 350px;
	top: -81px;

}
a{
	text-decoration: none;

}

a:visited{
	color:inherit;


}
.dalloway-end{
	color:white;
	font-family: 'Old Standard TT', serif;
	font-size: 30px;
	position: relative;
    left: 47px;
    padding:300px;
}


.outsider{
	color:white;
	position: relative;
	left: 150px;
    top: -30px;
	font-family: Gill Sans, sans-serif;
	padding:300px;
}
.outsider-end{
	color:white;
	position: relative;
	left: 149px;
    top: -30px;
    font-family: Gill Sans, sans-serif;

}

.enigma{
	color: white;
	font-family: 'Cormorant Garamond', serif;
	position: relative;
	left: 40px
	top: 30px;
	padding: 90px;
}

.enigma-end{
	color:white;
	font-family: 'Cormorant Garamond', serif;
	position: relative;
	top: 500px;   
	left: 124px;
}

.brave{
	color:white;
	font-family: Rockwell;
	position: relative;
	left: 40px
	top: 30px;

}
.brave-end{
	color:white;
	font-family: Rockwell;
	font-size: 30px;
	position: relative;
	left: 40px
	top: 300px;
	padding: 90px;

}

.button{
	font-size: 200px;
	color: grey;
	position: relative;
    top: 600px;
   
}







