body{
	/*margin: 30px;*/
	font-size:3vh;
	padding:2vw;
	/*padding-right: 40vw;*/
	cursor: pointer;
	font-family: helvetica;
	background-color: black;

} 

/*.drawings{
    padding-left: 710px;
    width: 100px;
    height: auto;
    display: block;
    margin-top: -6200px;

}*/

.drawings object{
    padding-left: 710px;
    width: 500px;
    height: auto;
    display: block;
    margin-top: -100px;

}


/*
object:hover {
outline: 4px solid red;
}*/

/*
.GpaDrawing {
	margin-top: -500px;
}*/

/*
.elizaDrawing {
	        display:none;
}


*/
.answers{
	border: 2px solid grey;
	padding: 2vw;
	width: 30%;
	height: auto;
    position: absolute;
}

.eliza{
	color:red;
	padding-bottom:3vw;
}


.grandpa{
	color:blue;
	padding-bottom:3vw;
}


.raph{
	color:#E7C30E;
	padding-bottom:3vw;
}

.chris{
	color:green;
	padding-bottom:3vw;
}

.mom{
	color:red;
	padding-bottom:3vw;
}

.josh{
	color:blue;
	padding-bottom:3vw;
}

.amber{
	color:#E7C30E;
	padding-bottom:3vw;
}

.dillon{
	color:green;
	padding-bottom:3vw;
}


.julia{
	color:red;
	padding-bottom:3vw;
}

.lucy{
	color:blue;
	padding-bottom:3vw;
}

.sab{
	color:#E7C30E;
	padding-bottom:3vw;
}

.grace{
	color:green;
	padding-bottom:3vw;
}

.el{
	color:red;
	padding-bottom:3vw;
}

.ro{
	color:blue;
	padding-bottom:3vw;
}

.lee{
	color:#E7C30E;
	padding-bottom:3vw;
}

.lind{
	color:green;
	padding-bottom:3vw;
}  

.gavin{
	color:red;
	padding-bottom:3vw;
}

.lu{
	color:blue;
	padding-bottom:3vw;
}

.pj{
	color:#E7C30E;
	padding-bottom:3vw;
}

.jack{
	color:green;
	padding-bottom:3vw;
} 

.david{
	color:red;
	padding-bottom:3vw;
}

.get{
	color:blue;
	padding-bottom:3vw;
}

.peter{
	color:#E7C30E;
	padding-bottom:3vw;
}

.melissa{
	color:green;
	padding-bottom:3vw;
} 

.dj{
	color:red;
	padding-bottom:3vw;
}

.soph{
	color:blue;
	padding-bottom:3vw;
}

.wargo{
	color:#E7C30E;
	padding-bottom:3vw;
}

.owl{
	color:green;
	padding-bottom:3vw;
}  

.farrah{
	color:red;
	padding-bottom:3vw;
}

.sierra{
	color:blue;
	padding-bottom:3vw;
}

.nick{
	color:#E7C30E;
	padding-bottom:3vw;
}

.ash{
	color:green;
	padding-bottom:3vw;
} 

.minna{
	color:red;
	padding-bottom:3vw;
}

.sim{
	color:blue;
	padding-bottom:3vw;
}

.lily{
	color:#E7C30E;
	padding-bottom:3vw;
}

.pat{
	color:green;
	padding-bottom:3vw;
}  

.mad{
	color:red;
	padding-bottom:3vw;
}

.miles{
	color:blue;
	padding-bottom:3vw;
}

.max{
	color:#E7C30E;
	padding-bottom:3vw;
}

.fur{
	color:green;
	padding-bottom:3vw;
}  

.salma{
	color:red;
	padding-bottom:3vw;
}

.lilli{
	color:blue;
	padding-bottom:3vw;
}

.sam{
	color:#E7C30E;
	padding-bottom:3vw;
}

.seth{
	color:green;
	padding-bottom:3vw;
}  

.kindra{
	color:red;
	padding-bottom:3vw;
}

.will{
	color:blue;
	padding-bottom:3vw;
}



\