body{
	/*margin: 30px;*/
	font-size:3vh;
	padding:2vw;
	/*padding-right: 40vw;*/
	cursor: pointer;
	font-family: helvetica;
	background-color: black;
	font-weight: bold;

} 

.h1{
	font-family: serif;
	display: block;
    font-size: 4em;
    color: white;
    top: 40px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

/*.drawings{
    padding-left: 710px;
    width: 100px;
    height: auto;
    display: block;
    margin-top: -6200px;

}*/

.drawings object{
    padding-left: 710px;
    padding-top: 60px;
    width: 700px;
    height: auto;
    display: block;
    margin-top: -50px;
}


/*
object:hover {
outline: 4px solid red;
}*/

/*
.GpaDrawing {
	margin-top: -500px;
}*/

/*
.elizaDrawing {
	        display:none;
}


*/
.answers{
	border: 2px solid grey;
	padding: 2vw;
	width: 50%;
	height: auto;
    position: absolute;
}

.eliza{
	color: #e20404;
    padding-bottom: 28vw;
    padding-top: 13vw;
}


.grandpa{
	color:blue;
	padding-bottom: 31vw;
}


.raph{
	color:#E7C30E;
    padding-bottom: 27vw;
}

.chris{
	color:green;
	padding-bottom:30vw;
}

.mom{
	color: #e20404;
	padding-bottom:30vw;
}

.josh{
	color:blue;
	padding-bottom:30vw;
}

.amber{
	color:#E7C30E;
	padding-bottom:30vw;
}

.dillon{
	color:green;
	padding-bottom:26vw;
}


.julia{
	color: #e20404;
	padding-bottom:34vw;
}

.lucy{
	color:blue;
	padding-bottom:30vw;
}

.sab{
	color:#E7C30E;
	padding-bottom:30vw;
}

.grace{
	color:green;
	padding-bottom: 32vw;

}

.el{
	color: #e20404;
	padding-bottom:27vw;
}

.ro{
	color:blue;
	padding-bottom:25vw;
}

.lee{
	color:#E7C30E;
	padding-bottom:25vw;
}

.lind{
	color:green;
	padding-bottom:25vw;
}  

.gavin{
	color: #e20404;
	padding-bottom:42vw;
}

.lu{
	color:blue;
	padding-bottom:25vw;
}

.pj{
	color:#E7C30E;
	padding-bottom:36vw;
}

.jack{
	color:green;
	padding-bottom:30vw;
} 

.david{
	color: #e20404;
	padding-bottom:25vw;
}

.get{
	color:blue;
	padding-bottom:37vw;
}

.peter{
	color:#E7C30E;
	padding-bottom:25vw;
}

.melissa{
	color:green;
	padding-bottom:25vw;
} 

.dj{
	color: #e20404;
	padding-bottom:25vw;
}

.soph{
	color:blue;
	padding-bottom:25vw;
}

.wargo{
	color:#E7C30E;
	padding-bottom:31vw;
}

.owl{
	color:green;
	padding-bottom:32vw;
}  

.farrah{
	color: #e20404;
	padding-bottom:25vw;
}

.sierra{
	color:blue;
	padding-bottom:30vw;
}

.nick{
	color:#E7C30E;
	padding-bottom:30vw;
}

.ash{
	color:green;
	padding-bottom:27vw;
} 

.minna{
	color: #e20404;
	padding-bottom:35vw;
}

.sim{
	color:blue;
	padding-bottom:20vw;
}

.lily{
	color:#E7C30E;
	padding-bottom:36vw;
}

.pat{
	color:green;
	padding-bottom:30vw;
}  

.mad{
	color: #e20404;
	padding-bottom:30vw;
}

.miles{
	color:blue;
	padding-bottom:38vw;
}

.max{
	color:#E7C30E;
	padding-bottom:25vw;
}

.fur{
	color:green;
	padding-bottom:16vw;
}  

.salma{
	color: #e20404;
	padding-bottom:20vw;
}

.lilli{
	color:blue;
	padding-bottom:12vw;
}

.sam{
	color:#E7C30E;
	padding-bottom:27vw;
}

.seth{
	color:green;
	padding-bottom:40vw;
}  

.kindra{
	color: #e20404;
	padding-bottom:20vw;
}

.will{
	color:blue;
	padding-bottom:3vw;
}



