body {
	
	color:black;

}

::-moz-selection { background: black; }
::selection { background: black; }

.face{
	width: 20vw;
	height: auto;
	align-content: center;
	position: relative;
	left:40vw;

	

}

.advice {
	border-style: solid  ;
  	border-width: .2vw;
  	color: black;
  	margin: 40vw;
  	font-family: serif;
  	line-height: ;
  	font-weight: ;
  	background-color: yellow;


  }

  
  	
/*
.p {

	border-style: solid ;
  	border-width: 2px;
  	color: blue;
  	margin: 400px;
  	width: 100vw;

}*/
