body {
	
	color:black;
	cursor: help;

	
}

.button:hover{
		cursor: url("smiley.png")auto !important; 
	 }

::-moz-selection { background: black; }
::selection { background: black; }

.help{ cursor: help; 
}

.face{
	width: 20vw;
	height: auto;
	align-content: center;
	position: relative;
	left:40vw;
}


.advice {
	border-style: solid;
  	border-width: .1vw;
    border-color: blue;
  	color: black;
  	margin: 40vw;
  	font-family: 'Gugi', cursive;
  	line-height: 20px ;
  	font-weight: ;
  	position: relative;
  	bottom: 20vw;

 /* 	background-color: yellow;*/


  }

  
  	

