body{
	border-color:yellow;
	margin:30px;
	font-family:Bodoni;
	text-indent:20px;

}

.img {
	padding:40px;
	height:auto;
	width:400px;
	background-color: yellow;

}


a {
	text-decoration: none;
	color:orange;
}
