body {
	margin: 15vw;
	
}

.text{
	border-style: solid;
    border-width: 0.5vw;
    border-color: blue;
    position: absolute;
    top: 20vw;

}

h1{
	color:blue;
	font-family: 'Righteous', cursive;
	font-size: 4vw;
	margin: 20px;


}

h2{
	color:blue;
	font-family: helvetica;
	font-size: 4vw;
	margin: 20px;

}
.a {
      font-size: 20vw;
      color:white;
      position: relative;
      left: 40vw;
      bottom:3vw;
 }

 a{
      position: relative;
      left: .1vw;
      bottom:9vw;

 }

 i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}


.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

 @-webkit-keyframes argh-my-eyes {
    0%   { background-color: #fff; }
    49% { background-color: #fff; }
    50% { background-color: #000; }
    99% { background-color: #000; }
    100% { background-color: #fff; }
  }
  @-moz-keyframes argh-my-eyes {
    0%   { background-color: #fff; }
    49% { background-color: #fff; }
    50% { background-color: #000; }
    99% { background-color: #000; }
    100% { background-color: #fff; }
  }
  @keyframes argh-my-eyes {
    0%   { background-color: #fff; }
    49% { background-color: #fff; }
    50% { background-color: #000; }
    99% { background-color: #000; }
    100% { background-color: #fff; }
  }
  body {
  -webkit-animation: argh-my-eyes 2s infinite;
  -moz-animation:    argh-my-eyes 2s infinite;
  animation:         argh-my-eyes 2s infinite;
}


