body{

}

.box{
	background-color: blue;
	height:auto;
	width: 60%;
}

.box1{
	background-color: yellow;
	height:1000px;
	width: 300px;

}
.box2{
	background-color: yellow;
	height:1000px;
	width: 300px;

}
.box3{
	background-color: yellow;
	height:1000px;
	width: 300px;

}